
.row {
    margin-left: 100px;
    margin-top: 32px;
    display: inline-block;
    float: left;
}

.col-1-of-2:not(:last-child){
    margin-bottom:32px; 
}


.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.heading-tertiary {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase; }




.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 .5rem 2rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }


.feature-box__text{
    font-weight: 300;
    font-size: 18px;
}








*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: 'Lato' 'Arial' sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    color: #555;
    overflow-x: hidden;
}
.clearfix{zoom: 1}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #777;
   
}
.header {
  font-size: 14px;
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid  #f4f2f2;
 
  align-items: center; 
}
.logoo{
    display: block;
    float: left;
    margin-right: 450px;
    margin-top: 0px;
}
.logo {
  height: 32.5px;
  margin-left: 20px; }
.headingg{
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase;
}

.content{
    display: block;
    float: left;
}


.sidebar {
  background-color: #333;
  flex: 0 0 15%;
  display: flex;
    height: 100vh;
  flex-direction: column;
  justify-content: space-between; 
}
.side-nav {
  font-size: 14px;
  list-style: none;
  margin-top: 50px; }
  @media only screen and (max-width: 56.25em) {
    .side-nav {
      display: flex;
      margin: 0; } }
  .side-nav__item {
    position: relative;
     
}
    .side-nav__item:not(:last-child) {
      margin-bottom: 50px; }
      @media only screen and (max-width: 562.5px) {
        .side-nav__item:not(:last-child) {
          margin: 0; } }
    @media only screen and (max-width: 562.5px) {
      .side-nav__item {
        flex: 1; } }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #eb2f64;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: #FF3366; }
  .side-nav__link:link, .side-nav__link:visited {
    color: #faf9f9;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 15px 30px;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 562.5px) {
      .side-nav__link:link, .side-nav__link:visited {
        justify-content: center;
        padding: 20px; } }
    @media only screen and (max-width: 375px) {
      .side-nav__link:link, .side-nav__link:visited {
        flex-direction: column;
        padding: 15px 5px; } }
  .side-nav__icon {
    width: 17.5px;
    height: 17.5px;
    margin-right: 20px;
    fill: currentColor; }
.student{
    display: block;
    float: left;
}
   